# Dependencies
node_modules/
npm-debug.log*

# Local environment variables
.env
.env.local

# Coverage reports
.coverage
.nyc_output
coverage/

# Build outputs
build/
dist/
*.tar
*.gz

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Truffle
/client